<div style="font-family: monospace; text-align: center; padding: 0.5rem; border: solid grey 0.1rem">
  <div style="padding: 0em 0em 0.5em 0em;">
    <a href="https://ծիր.հայ/" style="text-decoration: none; font-size: 1rem;">🕸️ծիր.հայ💍</a>
  </div>
  <div>
    <a href="https://ծիր.հայ/նախորդ" style="text-decoration: none; font-size: 1rem; padding: 0.5rem;">◀</a>
    <a href="https://ծիր.հայ/պատահական" style="text-decoration: none; font-size: 1rem; padding: 0.5rem;">🎲</a>
    <a href="https://ծիր.հայ/յաջորդ" style="text-decoration: none; font-size: 1rem; padding: 0.5rem;">▶</a>
  </div>
</div>
