<.flash_group flash={@flash} />

<h2 class="text-center text-5xl pb-16">Բարի գալուստ 🕸️ծիր.հայ💍</h2>

<p>ծիր.հայ֊ը ցանցային օղակ է, որը թոյլ է տալիս օգտագործողներին միանալ իրենց նմանատիպ կայքերով միաւորող օնլայն համայնքներին</p>

<img src="/images/webring.png">

Օղակից օգտուելու համար կարող ես ուղղակի կտտցնել յաջորդ/▶, նախորդ/◀ կամ կամայական/🎲 կոճակներըը

<br/>
<div style="font-family: monospace; text-align: center; padding: 0.5rem; border: solid grey 0.1rem">
  <div style="padding: 0em 0em 0.5em 0em;">
    <a href="https://ծիր.հայ/" style="text-decoration: none; font-size: 1rem;">🕸️ծիր.հայ💍</a>
  </div>
  <div>
    <a href="/նախորդ" style="text-decoration: none; font-size: 1rem; padding: 0.5rem;">◀</a>
    <a href="/պատահական" style="text-decoration: none; font-size: 1rem; padding: 0.5rem;">🎲</a>
    <a href="/յաջորդ" style="text-decoration: none; font-size: 1rem; padding: 0.5rem;">▶</a>
  </div>
</div>

<h2 class="text-center text-5xl p-8">կայքերի ցուցակ</h2>
<div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="text-left">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Կայք</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">դոմեն</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">հասցէ</th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">պիտակներ</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
<.list_websites page={1}/>
    </tbody>
  </table>
</div>


<details>
<summary>կոդի հատուած</summary>
<pre style="font-size: 10px;"><code>&lt;div style="font-family: monospace; text-align: center; padding: 0.5rem; border: solid grey 0.1rem"&gt;
  &lt;div style="padding: 0em 0em 0.5em 0em;"&gt;
    &lt;a href="https://ծիր.հայ/" style="text-decoration: none; font-size: 1rem;"&gt;🕸️ծիր.հայ💍&lt;/a&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;a href="https://ծիր.հայ/նախորդ" style="text-decoration: none; font-size: 1rem; padding: 0.5rem;"&gt;◀&lt;/a&gt;
    &lt;a href="https://ծիր.հայ/պատահական" style="text-decoration: none; font-size: 1rem; padding: 0.5rem;"&gt;🎲&lt;/a&gt;
    &lt;a href="https://ծիր.հայ/յաջորդ" style="text-decoration: none; font-size: 1rem; padding: 0.5rem;"&gt;▶&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</details>
